html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#battle-app {
    position: absolute;
    left: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(64, 70, 64);
    transform: translateX(-50%);
}

@media screen and (max-width: 900px) {
    #battle-app {
        width: 322px;
        height: 1060px;
    }
}

@media screen and (min-width: 900px) {
    #battle-app {
        width: 650px;
        height: 532px;
    }
}

#battle-app .faction {
    display: inline-block;
    width: 240px;
    height: 450px;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
}

#battle-app .faction .factionName p {
    text-align: center;
    margin-top: 0px;
    font-size: x-large;
}

#battle-app .faction .labelInputPair {
    width: 100%;
    height: 42px;
}

#battle-app .faction .labelInputPair label {
    display: inline-block;
    position: relative;
    width: 75%;
    height: 100%;
}

#battle-app .faction .labelInputPair input {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 0px;
    padding: 2px;
}

#battle-app .faction .hitSettings {
    margin-top: 10px;
}

#battle-app .faction .statWindow {
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    color: black;
    font-size: 15px;
    white-space: pre-line;
    background-color: white;
}

#battle-app .faction .statWindow p {
    display: block;
    position: relative;
    width: 100%;
    top: -10px;
    margin: 0px;
}

#battle-app .faction .statWindow .hitDist {
    height: 65%;
}

#battle-app .faction .statWindow .hitAvg {
    height: 20%;
}

#battle-app #free-peoples.faction {
    background-color: rgb(17, 87, 131);
}

#battle-app #shadow.faction {
    background-color: rgb(129, 48, 48);
}