html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#battle-app {
    position: absolute;
    width: 950px;
    height: 600px;
    top: 50%;
    left: 50%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    background-color: slategrey;
    transform: translate(-50%, -50%);
}

#battle-app .faction {
    position: absolute;
    width: 300px;
    height: 450px;
    top: 10%;
    padding: 20px;
    border-radius: 10px;
}

#battle-app .faction .armySettings {
    position: relative;
    height: 150px;
}

#battle-app .armySettings .unitInputs {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0px;
}

#battle-app .armySettings .unitInputs label {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    vertical-align: center;
}

#battle-app .faction .armySettings .unitInputs input {
    width: 30px;
    height: 30px;
    border: none;
    padding: 5px;
}

#battle-app .faction .statWindow {
    width: 280px;
    height: 180px;
    padding: 10px;
    color: black;
    font-size: 15px;
    white-space: pre-line;
    background-color: white;
}

#battle-app #free-peoples.faction {
    left: 12%;
    background-color: lightskyblue;
}

#battle-app #shadow.faction {
    right: 12%;
    background-color: lightcoral;
}

#battle-app #free-peoples.faction .factionName {
    text-align: right;
}

#battle-app #free-peoples.faction .unitInputs {
    right: 0px;
}

#battle-app #submit-button {
    position: absolute;
    width: 100px;
    height: 30px;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
}